.buttonCls{
    padding:10px;
    font-size:14px;
    color:deepskyblue;
}
body{
    margin:0;
    padding:0;
}
.header{
    height:60px;
    width:100%;
    position: fixed;
    background-color: deepskyblue;
    box-sizing: border-box;
    padding:10px;
    border:1px solid red;
    z-index:9;
}
.logo{
    display: inline-block;
    width:80px;
    height:40px;
    border:1px solid gray;
}
.userInfo{
    float: right;
    border:1px solid gold;
    height:40px;
    line-height:40px;
}
.side{
    width: 166px;
    height: 100%;
    background: #fff;
    min-width: 166px;
    float: left;
    /* position: relative; */
    overflow-y: auto;
    position: fixed;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 60px;
    padding-bottom: 60px;
    border:1px solid blue;
}
.mainBody{
    padding: 30px;
    position: relative;
    top: 60px;;
    margin-left:167px;
    border: 1px solid green;
    background-color: #f0f2fa;
}
.content{
    background: #ffffff;
    width:100%;
    padding:30px;
}
.footer{
    margin:0 auto;
}
#components-layout-demo-top-side .logo {
    width: 120px;
    height: 31px;
    background: #333;
    border-radius: 6px;
    margin: 16px 28px 16px 0;
    float: left;
}
.tableCss{
    padding:20px;
}
.helpCenter .ant-modal-header{
    background: #0096ff;

}
.header .ant-modal-title{
    color:#fff;
}
.content .ant-steps-label-horizontal{
    width:50%;
    margin:0 auto;
}
.ex-input{
    width:50%;
    min-width:500px;
    margin:10px auto;
}
.ex-input .ant-input{
    width:400px;
}
.ex-input .editor-container{
    display: inline-block;
    width:400px;
    vertical-align: top;
   /* height:300px;*/
}